p {
    color: black;
    text-align: left;
    padding: 10px 0 0 20px;
    font-size: 14px;
}

p b {
    font-weight: bold;
}

h1{
    
    color:#2179FC; 
    text-align: center;
}

h2{
    
    text-align:center;
}

b {
  display: inline-block;
   width: 100px;
  font-size: 16px; /* Ajusta el tamaño de la fuente de la etiqueta */
  margin-right: auto; /* Agrega espacio a la derecha de la etiqueta */
  color: black;
}

select {
    
    color:black; 
    font-size: 14px; 
    padding: 6px; 
    margin: 0px 0px 0px 1%; 
    width:25%;
    height: 40px;
    
}


.modalEquipoRIS {
  display: none;
  position: fixed; 
  padding-top: 80px;
  left: 0%; 
  top: 0%;
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5);
}
.modalEquipoRIS h1{
    color: #2179FC;
}

.modalEquipoRIS-content {
  
  position: relative; 
  background-color: white;
  padding: 20px;
  margin: auto; 
  text-align: center;
  border-radius: 10px;
  overflow: auto;
}


#nomEQP {
    
    margin: 0px 0px 0px 0.9%; 
    width:85%;
    background-color: white; 
     padding: 10px;
     
}

#marcaEQP {
    
    margin: 0px 0px 0px 0.9%; 
    width:85%;
    background-color: white; 
    padding: 10px;
}


#modeloEQP {
    margin: 0px 0px 0px 1.0%;
    width: 85%;
    background-color: white; 
    padding: 10px;
}

#modalEQP{  
    margin: 0px 0px 0px 1.0%; 
    width:85%;
    background-color: white;
    padding: 10px;
}

#areEqp{  
    margin: 0px 0px 0px 1.0%; 
    background-color: white;
    color:black; 
    font-size: 14px; 
    padding: 6px; 
    width:21%;
    height: 40px;
}

#idarea{  
    
    margin: 0px 0px 0px 0.5%; 
    width:21%; 
    height: 40px;
    background-color: white;
    padding: 10px;
}

#mymodalEquipoRISheader {
  cursor: move;    /* Cambia el cursor a una mano para mover */
  color: white;     /* Establece el color del texto a blanco */
}

#EQUIPOTAB {
  display: block; /* Muestra la pestaña activa */
}
