<!-- archivo: plantilla-gestion.html -->
<section>
    <section id="section-agendar">
        <div id="AGENDAR" class="tabcontent">
            <h2 style="text-align:center">Administración de Agenda</h2>
            <br>
            <div class="contenedor">
                <!--Contenedor para realizar la consulta de las solicitudes/consultas.-->
                <div class="contenedor-contenido">
                    <div class="flex-container">
                        <form id="form_paciente">
                            <div class="contenedor-formulario" id="filtro_numero">
                                <label class="label_registro">Número de Registro:</label>
                                <input type="text" id="noregistro" name="noregistro"/>
                            </div>
                            <div class="contenedor-formulario" id="filtro_nombre">
                                <label class="label_registro">Nombre:</label>
                                <input type="text" id="nombrepaciente" name="nombrepaciente"/>
                            </div>
                            <div class="contenedor-formulario" id="filtro_paterno">
                                <label class="label_registro">Apellido Paterno:</label>
                                <input type="text" id="apellidopaternopaciente" name="apellidopaternopaciente"/>
                            </div>
                            <div class="contenedor-formulario" id="filtro_materno">
                                <label class="label_registro">Apellido Materno:</label>
                                <input type="text" id="apellidomaternopaciente" name="apellidomaternopaciente"/>
                            </div>
                            <div class="contenedor-formulario" id="filtro_fecha">
                                <label class="label_registro">Fecha:</label>
                                <input name="fecha-min" id="fecha-min" type="date" onchange="asignamin(this.value);">
                                <label class="label_registro">-</label>
                                <input name="fecha-max" id="fecha-max" type="date">
                            </div>
                            <div class="contenedor-formulario" id="filtro_estudio">
                                <label for="consultaestudio">Estudio:</label>
                                <select class="custom-select" name="consultaestudio" id="consultaestudio">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="contenedor-formulario" id="filtro_sala">
                                <label for="consulta-sala">Sala:</label>
                                <select class="custom-select" name="consultasala" id="consultasala">
                                    <option value=""></option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="contenedor-footer" id="buscadoragenda">
                    <button type="button" id="consultaAGENDA" onclick="activamodal('ConsultaAGENDA', this.form)" class="button button1">Consultar cita de estudio</button>
                    <button type="button" id="limpiarFORMULARIO" onclick="activamodal('LimpiarFORMULARIO', this.form)" class="button button1">Limpiar</button>
                </div>
            </div>
            <br>
            <div class="flex-container flex-container-end">
                <div></div>
                <div></div>
                <div></div> 
                <button onclick="consultasolicitud(this)" class="button button1" id="consultarSOLICITUDES">Agendar Cita de Estudio</button> 
            </div>
            </br>
            <div id="showDataAgendar" class="scrollcell"></div> 
        </div>
    </section>
</section>