<!-- archivo: plantilla-gestion.html -->
<section>
    <section id="section-agendar">
        <div id="AGENDAR" class="tabcontent">
            <h2 style="text-align:center">Gestión de Citas</h2>
            <br>
            <div class="flex-container flex-container-end">
                <div></div>
                <div></div>
                <div></div> 
                <button class="button button1 crud" id="consultarSOLICITUDES">Agendar Cita de Estudio</button> 
            </div>
            <div class="contenedor">
                <!--Contenedor para realizar la consulta de las solicitudes/consultas.-->
                <div class="contenedor-contenido">
                    <div class="flex-container">
                        <form id="form_paciente">
                            <div class="contenedor-formulario" id="filtro_numero">
                                <label class="label_registro">Número de Registro:</label>
                                <input type="text" id="noregistro" name="noregistro"/>
                            </div>
                            <div class="contenedor-formulario" id="filtro_nombre">
                                <label class="label_registro">Nombre:</label>
                                <input type="text" id="nombrepaciente" name="nombrepaciente"/>
                            </div>
                            <div class="contenedor-formulario" id="filtro_paterno">
                                <label class="label_registro">Apellido Paterno:</label>
                                <input type="text" id="apellidopaternopaciente" name="apellidopaternopaciente"/>
                            </div>
                            <!---
                            <div class="contenedor-formulario" id="filtro_sala">
                                <label for="consulta-sala">Sala:</label>
                                <select class="custom-select" name="consultasala" id="consultasala">
                                    <option value=""></option>
                                </select>
                            </div>
                            -->
                        </form>
                    </div>
                </div>
                <div class="contenedor-footer" id="buscadoragenda">
                    <button type="button" id="consultaAGENDA" class="button button1 crud">Consultar cita de estudio</button>
                </div>
            </div>
            <br>
            </br>
            <div id="showDataAgendar" class="scrollcell"></div> 
        </div>
    </section>

    <dialog id="modalSOLICITUDES">
        <div>
            <h2>Solicitudes de Estudio</h2>
        </div>
        <div class="modalSOLICITUDES-content">
            <div class="contenedor-formulario" id="filtro_solicitud">
                <label class="label_registro">Número de Registro:</label>
                <input type="text" id="noregistro_2" name="noregistro"/>
                <label class="label_registro">Nombre:</label>
                <input type="text" id="nombrepaciente_2" name="nombrepaciente"/>
                <label class="label_registro">Apellido Paterno:</label>
                <input type="text" id="apellidopaternopaciente_2" name="apellidopaternopaciente"/>
            </div>
            <div class="contenedor-formulario" id="filtro_estudio">
                <label for="consultaestudio">Estudio:</label>
                <select class="custom-select" name="consultaestudio" id="consultaestudio">
                    <option value=""></option>
                </select>
            </div>
            <div class="contenedor-footer" id="buscadorsolicitudes">
                <button type="button" id="consultaSOLICITUD" class="button button1 crud">Buscar solicitud de estudio</button>
            </div>
            <!--Apartado para mostrar en un tabla las solicitudes de estudio-->
            <div id="showDataSolicitudes" class="scrollcell"></div>
            <!--Contenedor donde se muestra el boton para cancelar la accion para cancelar la busqueda de solicitudes de estudio y se desactiva el modal.-->
            <div class="flex-container">
                <button type="button" id="cancelarSOLICITUDES" class="button button1" style="flex-basis:200px; font-size: 15px;">Cancelar</button>
            </div>
        </div>
    </dialog>
    
</section>